* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato;
}

div[class$=twoline-autopop-icon] {
  position: relative;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
div[class$=twoline-autopop-icon] div small {
  background: url(https://www.linkpicture.com/q/sprites-large.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
div[class$=twoline-autopop-icon] div[class=inp-l] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
div[class$=twoline-autopop-icon] div[class=inp-l] div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  padding: 10px;
  border: 1px solid #afafaf;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}
div[class$=twoline-autopop-icon] div[class=inp-l] div:nth-child(2) div[class$=twoline-inn] {
  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
}
div[class$=twoline-autopop-icon] div[class=inp-l] div:nth-child(2) div[class$=twoline-inn] input {
  border: none;
  outline: none;
  font-size: 13px;
  pointer-events: all;
}
div[class$=twoline-autopop-icon] div[class=inp-l] div:nth-child(2) div[class$=twoline-inn] span {
  display: none;
  font-size: 11px;
}
div[class$=twoline-autopop-icon] div[class=inp-l] div:nth-child(2) small:first-child {
  background: url(https://www.linkpicture.com/q/sprites-medium.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
div[class$=twoline-autopop-icon] div[class=inp-l] div:nth-child(2) small:last-child {
  background: url(https://www.linkpicture.com/q/sprites-small.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background-position: 0px -24px;
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(21%) hue-rotate(325deg) brightness(89%) contrast(105%);
  opacity: 0;
  transition: 0.1s ease-in;
}
div[class$=twoline-autopop-icon] div[class=inp-l] small[class$=showCloseAction] {
  opacity: 1 !important;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 60px;
  z-index: 999;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-in;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=multiSelect-list] {
  overflow: scroll;
  max-height: 200px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] li {
  list-style: none;
  display: block;
  cursor: pointer;
  background-color: #fff;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] li div {
  pointer-events: none;
  padding: 10px;
  width: auto;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] li div div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] li div div span:first-child {
  font-size: 13px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] li div div span:last-child {
  font-size: 11px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] li:hover {
  background-color: #f1f1f1;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] li[class$=currentSelectedList] {
  color: #2185d0;
  background-color: #f1f1f1;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=li-head-wrap] div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  padding: 10px;
  background-color: #e0e0e0;
  width: 100%;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=li-head-wrap] div span {
  font-weight: 600;
  font-size: 13px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=li-head-wrap] div div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=li-head-wrap] div div span {
  cursor: pointer;
  color: #42a5f5;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=li-head-wrap] div div span:hover {
  color: #2285d0;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=twoline-autopop-list] div[class$=notFound] {
  display: none;
  padding: 15px;
  padding-top: 15px;
}
div[class$=twoline-autopop-icon] div[class*=twoline-autopop-lists] div[class$=twoline-autopop-list] div[class$=notFound] span {
  font-weight: 600;
  color: black;
  font-size: 13px;
}
div[class$=twoline-autopop-icon] div[class$=helper-text] span {
  font-size: 11px;
  position: absolute;
}
div[class$=twoline-autopop-icon] div[class*=showDropdown] {
  opacity: 1;
  pointer-events: all;
}/*# sourceMappingURL=autopopulate.css.map */