@use "../Colors/color.scss";

$radius: 4px;
$border-none: none;
$border: 1px solid color.$secondaryBtn;
$input-border: 1px solid color.$input-border-cl;
$hyper-border: 1px solid color.$hyperBtn;
$error-border: 1px solid color.$error;
$focus-border: 1px solid color.$border-focus;
$radius50p: 50%;
$chipBorder: 1px solid color.$black;

$error-border: 1px solid color.$error;
$info-border: 1px solid color.$info;
$warning-border: 1px solid color.$warning;
$success-border: 1px solid color.$success;
