@use "../Button_Anatomy/button_anatomy.scss" as *;
@use "../Button_Anatomy/button-styles.scss" as *;

@use "../../Base/Alignment_mixin/alignment.scss" as *;
@use "../../Base/Iconography/iconography.scss" as *;
@use "../../Base/Misc/Misc.scss" as *;

* {
  @include begin;
}

div[class$="container"] {
  @include display-flex(center, center, 0, column);
}

div[class="m-btn-g"] {
  margin-bottom: 20px;
  margin-top: 20px;
  @include display-flex(flex-start, center, 20px, column);

  // Mulitple varient button group

  div {
    @include display-flex(center, center, 20px);
  }

  div:nth-child(1) {
    button:nth-child(3),
    button:nth-child(2),
    button:nth-child(1) {
      @include button;
    }

    button {
      display: none;
    }

    button:nth-child(3) {
      @include primary-button;
    }

    button:nth-child(2) {
      @include secondary-button;
    }

    button:nth-child(1) {
      @include tertiary-button;
    }
  }

  div:nth-child(2),
  div:nth-child(3) {
    button {
      display: none;
    }

    button:nth-child(3),
    button:nth-child(2),
    button:nth-child(1) {
      @include button;
    }

    button:nth-child(3) {
      @include primary-button;

      small {
        @include icon-small;
        @include downarrow;
      }
    }

    button:nth-child(2) {
      @include secondary-button;
      small {
        @include icon-small;
        @include downarrow;
      }

      &:hover {
        small {
          @include icon-hovered;
        }
      }
    }

    button:nth-child(1) {
      @include tertiary-button;
      small {
        @include icon-small;
        @include downarrow;
      }
    }
  }

  div:nth-child(4) {
    button {
      display: none;
    }

    button:nth-child(3),
    button:nth-child(2),
    button:nth-child(1) {
      @include button;
    }

    button:nth-child(3) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include primary-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
      }
      small:last-child {
        @include icon-small;
        // @include userprofile;
      }
    }

    button:nth-child(2) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include secondary-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
      }
      small:last-child {
        @include icon-small;
        // @include userprofile;
      }

      &:hover {
        small {
          @include icon-hovered;
        }
      }
    }
    button:nth-child(1) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include tertiary-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
      }
      small:last-child {
        @include icon-small;
        // @include userprofile;
      }
    }

    button:nth-child(4) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include hyper-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
        @include icon-hyper;
      }
      small:last-child {
        @include icon-small;
        // @include userprofile;
        @include icon-hyper;
      }
    }

    button:nth-child(5) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include negative-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
        @include icon-light;
      }
      small:last-child {
        @include icon-small;
        // @include userprofile;
        @include icon-light;
      }
    }

    button:nth-child(6) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include disabled-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
        @include icon-disabled;
      }
      small:last-child {
        @include icon-small;
        @include icon-disabled;
      }
    }
  }
}

// Single varient button group

.s-btn-g {
  margin-top: 20px;
  @include display-flex(flex-start, center, 20px, column);

  div {
    @include display-flex(flex-start, flex-start, 20px);
  }

  button:nth-child(3),
  button:nth-child(2),
  button:nth-child(1) {
    @include button;
  }

  button {
    display: none;
  }

  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(3) {
    button {
      @include button;
      @include secondary-button;
      small {
        @include icon-small;
        @include downarrow;
      }

      &:hover {
        small {
          @include icon-hovered;
        }
      }
    }
  }

  div:nth-child(4) {
    button {
      div:first-child {
        @include display-flex(center, center, 5px);
      }

      @include secondary-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
      }
      small:last-child {
        @include icon-small;
        // @include userprofile;
      }

      &:hover {
        small {
          @include icon-hovered;
        }
      }
    }
  }
}

//  Multiple with delete button group

div[class$="m-d-btn-g"] {
  margin-top: 20px;
  @include display-flex(flex-start, center, 20px, column);

  // Mulitple varient button group

  div {
    @include display-flex(center, center, 20px);
  }

  div:nth-child(1) {
    button:nth-child(3),
    button:nth-child(2),
    button:nth-child(1) {
      @include button;
    }

    button {
      display: none;
    }

    button:nth-child(3) {
      @include primary-button;
    }

    button:nth-child(2) {
      @include secondary-button;
    }

    button:nth-child(1) {
      @include negative-button;
    }
  }

  div:nth-child(2),
  div:nth-child(3) {
    button:nth-child(3),
    button:nth-child(2),
    button:nth-child(1) {
      @include button;
    }

    button {
      display: none;
    }

    button:nth-child(3) {
      @include primary-button;

      small {
        @include icon-small;
        @include downarrow;
      }
    }

    button:nth-child(2) {
      @include secondary-button;
      small {
        @include icon-small;
        @include downarrow;
      }

      &:hover {
        small {
          @include icon-hovered;
        }
      }
    }

    button:nth-child(1) {
      @include negative-button;

      small {
        @include icon-small;
        @include icon-error;
      }
      &:hover {
        small {
          @include icon-hovered;
        }
      }
    }
  }

  div:nth-child(4) {
    button:nth-child(3),
    button:nth-child(2),
    button:nth-child(1) {
      @include button;
    }

    button {
      display: none;
    }

    button:nth-child(3) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include primary-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
      }
      small:last-child {
        @include icon-small;
        @include userprofile;
      }
    }

    button:nth-child(2) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include secondary-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
      }
      small:last-child {
        @include icon-small;
        @include userprofile;
      }

      &:hover {
        small {
          @include icon-hovered;
        }
      }
    }
    button:nth-child(1) {
      div:first-child {
        @include display-flex(center, center, 5px);
      }
      @include tertiary-button;
      small:first-child {
        @include icon-small;
        @include downarrow;
      }
      small:last-child {
        @include icon-small;
        @include userprofile;
      }
    }
  }
}

// Hyper link button group

div[class$="hl-btn-g"] {
  margin-top: 20px;

  div {
    display: none;
  }

  div:nth-child(1),
  div:nth-child(2) {
    @include display-flex(center, flex-start, 20px);
  }

  div:nth-child(1) {
    button {
      @include button;
      @include hyper-link-button;
    }
  }

  div:nth-child(2) {
    button {
      @include button;
      @include hyper-link-button;

      small {
        @include icon-small;
        @include downarrow;
        @include icon-hyper;
      }

      span + small {
        display: none;
      }

      &:hover {
        small {
          @include icon-hyper-hovered;
        }
      }
    }
  }
}
