* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato;
}

.container {
  padding: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.container div[class=inp] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border: 1px solid #afafaf;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}
.container div[class=inp] input {
  border: none;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  pointer-events: none;
}
.container div[class=inp]:focus-within {
  border: 1px solid #42a5f5;
}
.container div[class=inp] small:first-child {
  background: url(https://www.linkpicture.com/q/sprites-large.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background-position: 0px -128px;
  filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(0%) hue-rotate(209deg) brightness(84%) contrast(86%);
  pointer-events: none;
}
.container div[class=inp] small:last-child {
  background: url(https://www.linkpicture.com/q/sprites-medium.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background-position: -32px 0;
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(21%) hue-rotate(325deg) brightness(89%) contrast(105%);
  pointer-events: none;
}
.container div[class=inp-l] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.container div[class=inp-l] div:nth-child(1) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.container div[class=inp-l] div:nth-child(1) small {
  background: url(https://www.linkpicture.com/q/sprites-medium.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
}
.container div[class=inp-l] div:nth-child(1) label {
  font-size: 16px;
}
.container div[class=inp-l] div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border: 1px solid #afafaf;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}
.container div[class=inp-l] div:nth-child(2) input {
  border: none;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  pointer-events: none;
}
.container div[class=inp-l] div:nth-child(2):focus-within {
  border: 1px solid #42a5f5;
}
.container div[class=inp-l] div:nth-child(2) small:first-child {
  background: url(https://www.linkpicture.com/q/sprites-large.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background-position: 0px -128px;
  filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(0%) hue-rotate(209deg) brightness(84%) contrast(86%);
  pointer-events: none;
}
.container div[class=inp-l] div:nth-child(2) small:last-child {
  background: url(https://www.linkpicture.com/q/sprites-medium.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  background-position: -32px 0;
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(21%) hue-rotate(325deg) brightness(89%) contrast(105%);
  pointer-events: none;
}/*# sourceMappingURL=elements.css.map */