@use "../Base/Misc/Misc.scss" as *;
@use "../UI_Elements/Elements/InputField/inputFIeld.scss" as *;
@use "../UI_Elements/Elements/Dropdown/Dropdown_anatomy.scss" as *;
@use "../Base/Iconography/iconography.scss" as *;
@use "../Base/Alignment_mixin/alignment.scss" as *;
@use "../Base/Typography/typography.scss" as *;

* {
  @include begin;
}

// Select - Label

div[class$="select-label"] {
  position: relative;

  div[class="inp-l"] {
    @include inputField-Label;
  }

  div[class*="select-lists"] {
    @include dropdown-lists(false);
    li[class$="currentSelectedList"] {
      @include currentSelectedList;
    }
  }
  div[class*="showDropdown"] {
    @include showDropdown;
  }
}

// Select - Label - Icon

div[class$="select-label-icon"] {
  margin: 20px;
  @include display-flex(flex-start, flex-start, 10px, row);
  div {
    small {
      @include icon-large;
      @include userprofile;
    }
  }

  div[class$="select"] {
    position: relative;
    div[class="inp-l"] {
      @include inputField-Label;
    }
    div[class*="select-lists"] {
      @include dropdown-lists(false);
      li[class$="currentSelectedList"] {
        @include currentSelectedList;
      }
    }
    div[class*="showDropdown"] {
      @include showDropdown;
    }
    div[class$="helper-text"] {
      @include helper-text;
    }
  }
}
